body {
  background: #ddffdc;
}

h1, h2, h3 {
  text-align: center;
}

.scriptname {
  text-decoration: underline dotted;
}

main {
  margin: 2em 10ch;
  background: #b2d1b1;
  border-radius: 1em;
  padding: 1em 2em;
}

#demo {
  display: flex;
  flex-flow: wrap;
}

#demo > * {
  margin: 2ch;
}

.aspect {
  width: 30%;
  background: #c8c7f6;
}

.aspect1 {
  width: 69.9%;
  background: #eac7db;
}

.box-fontx2 {
  background: #555;
  color: #fff;
}
